/* font-family: 'Dancing Script',
cursive;
font-family: 'IBM Plex Mono',
monospace;
font-family: 'IBM Plex Sans',
sans-serif;
font-family: 'Kalam',
cursive; 
background: linear-gradient(90deg, rgb(252, 115, 156) 0%, rgb(91, 67, 150) 100%);
*/

:root{
  --heading-font: 'Playfair Display', serif;
  --para-font: 'IBM Plex Mono', monospace;
  --desc-font: 'Dancing Script', cursive;
  --box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  --background: linear-gradient(180.3deg, rgb(214, 224, 255) 37.2%, rgb(254, 168, 168) 137.3%);
}
body{
  font-family: var(--para-font);
  
}
.fixed-navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.nav-item a{
  font-size: 20px;
  font-weight: 600;
  color: #738eef;
}
.nav-item a:hover {
  color: #365dea;
}
h1{
  font-family: var(--heading-font);
  font-size: 90px;
  font-weight: bold;
}
h3{
  font-size: 30px;
  font-family: var(--heading-font);
}
.top-section{
  text-align: center;
  padding: 140px 20px;
}
.top-section p{
  font-weight: 500;
  font-size: 38px;
}
.top-section h1{
  font-size: 90px;
}
.profile-homepage{
  position: block;
  margin: 100px auto;
  padding: 20px 0px;
  width: 550px;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.5);
  background: linear-gradient(180.3deg, rgb(214, 224, 255) 37.2%, rgb(254, 168, 168) 137.3%);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
}
.profile-image img{
  display: block;
  margin: 30px auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px;
}
.btn-style{
  margin-top: 10px;
  font-size: 20px;
  background-color: #c2cffc;
  padding: 16px 25px;
  border: 2px solid white;
  transition: all 0.15s ease-in-out;
}
.btn-style:hover{
  background-color: #849df9;
}
.image-project-yogurt{
  display: block;
  margin: 0 auto;
  padding: 30px;
  border-radius: 50px;
}
.container-myproject .row{
  display: block;
  margin: 0 auto;
  width: 80%;
  border-radius: 5px;
}
/* .yogurt-desc{
  padding: 20px 50px 20px 0px;
  text-align: justify;
  font-family: var(--para-font);
  line-height: 28px;
} */
.yogurt-desc,
.croissant-desc,
.weather-desc{
  margin-top: 120px;
}
.button-project{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  text-decoration: none;
  background-color: #c2cffc;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  margin-bottom: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
  border: 5px solid white;
}
.image-project-weather,
.image-project-croissant{
  display: block;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  padding: 40px;
  border-radius: 50px;
}
/* .weather-desc, 
.croissant-desc{
  padding: 20px 50px 20px 60px;
  text-align: justify;
  font-family: var(--para-font);
  line-height: 28px;
} */

.follow-me{
  margin: 100px;
  text-align: center;
  font-size: 30px;
}
.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-youtube,
.fa-pinterest,
.fa-envelope{
background-color: #738eef;
padding: 10px;
border-radius: 30px;
color: white;
transition: all 0.15s ease-in-out;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-youtube:hover,
.fa-pinterest:hover,
.fa-envelope:hover{
  background-color: #c2cffc;
  color: rgb(87, 87, 87);
}
/* about page*/
.about-section{
  margin: 50px;
  font-family: 'Dancing Script',cursive;
  text-align: justify;
}
.para-spacing{
  font-size: 30px;
  padding: 20px 40px 20px 50px;
}
.project-list-link{
  display: block;
  width: 20%;
  margin: 20px auto;
  margin-bottom: 70px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid #a7baff;
}

/* project page*/
.project-container img{
  display: block;
  margin: 30px auto;
  width: 450px;
  
}
.project-container p{
  display: block;
  margin: 20px auto;
  width: 900px;
  text-align: justify;
  font-family: var(--heading-font);
  margin-bottom: 50px;
}
.yogurt-project,
.weather-project,
.croissant-project{
  margin-bottom: 50px;
}
.work-enquiry{
  display: block;
  background-color: #c2cffc;
  margin: 60px auto;
  width: 80%;
  padding: 30px;
}
.work-enquiry a{
  display: block;
  margin: 25px auto;
  width: 200px;
  background-color: white;
  border: 2px solid #829af3;
  text-decoration: none;
  padding: 15px 25px;
}
